    <li>
      <%= f.hidden_field :id, value: account_setting.id %>
      <%= f.hidden_field :account_id, value: account_setting.account_id %>
      <%= f.hidden_field :setting_id, value: account_setting.setting_id %>
      <%= f.label setting.name %>
      <%= f.text_field :value %>
      <%=  content_tag("p", setting.description) %>
    </li>
