<%= render 'shared/error_messages', :target => @subscription_plan, :model => t('subscriptionplanmodel.modelname') %>
  <ul>
    <li class="form_header">
      <h2><%= t('.managesubcriptionplans') %></h2>
    </li>
    <li>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </li>
    <li>
      <%= form.label :amount %>
      <%= form.text_field :amount %>
    </li>
    <li>
      <%= form.label :setup_amount %>
      <%= form.text_field :setup_amount %>
    </li>
    <li>
      <%= form.label :renewal_period %>
      <%= form.text_field :renewal_period %>
    </li>
    <li>
      <%= form.label :trial_period %>
      <%= form.text_field :trial_period %>
    </li>
    <li>
      <%= form.label :user_limit %>
      <%= form.text_field :user_limit %>
    </li>
    <li>
      <%= form.submit %>
    </li>
    <li class="bottom"></li>
  </ul>
