<%= form_for(@privilege, :html => {:class => "standard_form", :multipart => true}) do |f| %>
  <% if @privilege.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@privilege.errors.count, "error") %><%= t('.preventprivilegesave') %> </h2>

      <ul>
      <% @privilege.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul>
    <li class="form_header">
      <h2><%= t('.manageprivilegeinformation') %></h2>
    </li>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </li>
    <li>
      <%= f.label :category %>
      <%= f.select :category, Privilege::CATEGORIES, prompt: t('.selectcategory') %>
    </li>
    <li>
      <%= f.label :controller %>
      <%= f.text_field :controller %>
    </li>
    <li>
      <%= f.label :menu_text %>
      <%= f.text_field :menu_text %>
    </li>
    <li>
      <%= f.label :operations %>
      <% Privilege::OPERATIONS.each_pair do |key, value| %>
        <%= check_box_tag 'allowed_operations[]', value, has_privilege(value, @privilege.operations), :class => "checkbox_group" %>
        <%= key %>
      <% end %>
      <%= hidden_field_tag 'allowed_operations[]','' %>
    </li>
    <li>
      <%= f.submit %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>
