<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @privilege.name %>
</p>

<p>
  <b>Description:</b>
  <%= @privilege.description %>
</p>

<p>
  <b>Controller:</b>
  <%= @privilege.controller %>
</p>

<p>
  <b>Menu Text:</b>
  <%= @privilege.menu_text %>
</p>

<%= link_to 'Edit', edit_privilege_path(@privilege) %> |
<%= link_to 'Back', privileges_path %>
