<%= form_for(@portlet) do |f| %>
  <% if @portlet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@portlet.errors.count, "error") %> prohibited this portlet from being saved:</h2>

      <ul>
      <% @portlet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :portlet_url %><br />
    <%= f.text_field :portlet_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
