<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @portlet.name %>
</p>

<p>
  <b>Category:</b>
  <%= @portlet.category_id %>
</p>

<p>
  <b>Portlet url:</b>
  <%= @portlet.portlet_url %>
</p>


<%= link_to 'Edit', edit_portlet_path(@portlet) %> |
<%= link_to 'Back', portlets_path %>
