<li>
  <%= label_tag t('users.user_list.email') %>
  <%= email_field_tag "user[email]", '', :id=>"user_email" %>
</li>
<li>
  <%= label_tag t('users.form.password') %>
  <%= password_field_tag "user[password]", '', id: "user_password" %>
</li>
<li>
  <%= label_tag t('users.form.confirmpassword') %>
  <%= password_field_tag  "user[password_confirmation]", '', id: "user_password_confirmation" %>
</li>
