<%= form_for(@user, :html => {:class => "standard_form wide_form", :multipart => true}) do |f| %>
<%= render 'shared/error_messages', :target => @user, :model => t('usermodel.modelname') %>
  <ul>
    <li class="form_header">
      <h2><%= @form_title %></h2>
    </li>
    <li>
      <%= f.label t('.name') %>
      <%= f.text_field :first_name, :size => "15" %>
      <% if action_name == 'new'  %>
        <%= f.text_field :last_name, :size => "15", :value => params['fid']? Family.find(params['fid'].to_i).name: "" %>
      <% else %>
        <%= f.text_field :last_name, :size => "15" %>
      <% end %>
      <%= f.text_field :middle_name, :size => "3" %>
      <% if action_name == 'new'  %>
        <%= f.hidden_field :family_id, :value => params['fid']? params['fid']: flash[:family_id] %>
      <% else %>
        <%= f.hidden_field :family_id %>
      <% end %>
    </li>
    <li>
      <%= f.label t('.designations') %>
      <div class="checkbox_container">
        <%= designations_div(@user.designations) %>
        <%= hidden_field_tag 'assigned_designations[]', '' %>
      </div>
    </li>
    <div id="student_info" style="<%= "display: none; " if (1 & (@user.designations.nil? ? 0 : @user.designations) == 0) %>">
    <li>
      <%= f.label t('.dob') %>
      <%= f.text_field :formatted_dob, :class => "date" %>
    </li>
    <li>
      <%= f.label t('.ethnic_origin') %>
      <div class="checkbox_container">
        <%= origins_div(@user.ethnic_origin) %>
        <%= hidden_field_tag 'eeo[]', '' %>
      </div>
    </li>
    </div>
    <li>
      <a id="toggle_contact" class="toggle_link"><%= t('.toggle') %></a>
    </li>
    <div id="contact_info" style="display: none; ">
      <li>
        <%= f.label :address %>
        <%= f.text_field :address %>
      </li>
      <li>
        <%= f.label :city %>
        <%= f.text_field :city %>
      </li>
      <li>
        <%= f.label :state %>
        <%= f.text_field :state %>
      </li>
      <li>
        <%= f.label :zip %>
        <%= f.text_field :zip %>
      </li>
      <li>
        <%= f.label :home_phone %>
        <%= f.text_field :home_phone %>
      </li>
      <li>
        <%= f.label :work_phone %>
        <%= f.text_field :work_phone %>
      </li>
      <li>
        <%= f.label :mobile_phone %>
        <%= f.text_field :mobile_phone %>
      </li>
    </div>
     <% if action_name == "new" || (action_name == "edit" && @user.email.nil?) %>
        <li>
          <%= link_to t('.togglepassword'), credentials_users_path, class: "toggle_link", remote: true %>
        </li>
        <div id="credentials"></div>
    <% end %>
    <li>
      <%= f.label t('roles.roles') %>
      <div class="checkbox_container">
      <% current_account.roles.each do |role| %>
        <div>
          <% if action_name == "new" && params['fid'] && role.name == "admin.default_roles.names.familymember" %>
            <%= check_box_tag 'user[role_ids][]', role.id, true %>
          <% else %>
            <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) %>
          <% end %>
        <%= content_tag("span", translated_role(role.name), :class => "checkbox_label") %>
        </div>
      <% end %>
      <%= hidden_field_tag 'user[role_ids][]', '' %>
      </div>
    </li>
    <li>
      <%= f.submit t('common.savechanges') %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>
