<%= form_for(@user, :html => {:class => "standard_form wide_form", :multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  <ul>
    <li class="form_header">
      <h2><%= t('.changepassword') %></h2>
    </li>
    <li>
      <%= f.label :password, "New password" %>
      <%= f.password_field :password %></p>
    </li>
    <li>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></p>
    </li>
    <li>
      <%= f.submit t('.changepassword') %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>
