<%= form_for(@user, :html => {:class => "standard_form wide_form", :multipart => true}) do |f| %>
    
  <ul>
    <li class="form_header">
      <h2><%= @password_title %></h2>
    </li>
    <li>
      <%= f.label :password, "New password" %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </li>
    <li>
      <%= f.submit t('.changepassword') %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>
