<% @page_title = t('.changeyourpassword') %>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "standard_form" }) do |f| %>
  <%= devise_error_messages! %>
  <ul>
    <li class="form_header">
      <h2><%= t('.forgotyourpassword') %></h2>
    </li>
    <li>
      <%= f.hidden_field :reset_password_token %>
      <%= f.label :password, t('.newpassword') %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.label :password_confirmation, t('.confirmnewpassword') %>
      <%= f.password_field :password_confirmation %>
    </li>
    <li>
      <%= f.submit t('.changemypassword') %>
      <%= render :partial => "devise/shared/links" %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>