<% menu.each do |category, privileges| %>
<ul id="menubar">
  <li>
    <a href="#" title="<%= category %>"><%= image_tag("schedule.png") %><span><%= category %></span></a>
  </li>
  <li>
    <%= hide_ul_if(2==1, id: 'submenu') do %>
      <%= render(partial: 'shared/submenus', collection: privileges) %>
    <% end %>
  </li>
</ul>
<% end %>
