<div class="toolbar">
  <div class="menubuttons">
    <a href="<%= newpath %>" title="<%= addtext %>"><%= image_tag(addimage) %>
      <span><%= addtext %></span>
    </a>
    <%= form_tag indexpath, :method => :get do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <%= search_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    <% end %>
    <a href="#" title="<%= t('common.print') %>" class="rightbutton"><%= image_tag("print.png") %>
      <span><%= t('common.print') %></span>
    </a>
    <a href="#" title="<%= t('common.emaillist') %>" class="rightbutton"><%= image_tag("email.png") %>
      <span><%= t('common.emaillist') %></span>
    </a>
    <a href="#" title="<%= t('common.export') %>" class="rightbutton"><%= image_tag("export.png") %>
      <span><%= t('common.export') %></span>
    </a>
    <a href="#" title="<%= t('common.fields') %>" class="rightbutton"><%= image_tag("fields.png") %>
      <span><%= t('common.fields') %></span>
    </a>
  </div>
</div>

