<p>
  <%= t('.rateispercentage') %>
</p>
<%= render 'shared/error_messages', :target => @subscription_affiliate, :model => t('subscriptionaffiliatemodel.modelname') %>
  <ul>
    <li class="form_header">
      <h2><%= t('.managesubscriptionaffiliates') %></h2>
    </li>
    <li>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </li>
    <li>
      <%= form.label :token %>
      <%= form.text_field :token %>
    </li>
    <li>
      <%= form.label :rate %>
      <%= form.text_field :rate %>
    </li>
    <li>
      <%= form.submit %>
    </li>
    <li class="bottom"></li>
  </ul>
