<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "standard_form", :multipart => true}) do |f| %>
  
  <ul>
    <li class="form_header">
    <h2><%= t('.adminlogin') %></h2>
    <li>
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= image_submit_tag("btn_login.jpg") %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>
