<%= form_for([:admin,@setting], :html => {:class => "standard_form", :multipart => true}) do |f| %>
<%= render 'shared/error_messages', :target => @setting, :model => t('settingmodel.modelname') %>
  <ul>
    <li class="form_header">
      <h2><%= t('.managesettings') %></h2>
    </li>
    <li>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_area :description, :cols => 30, :rows => 3 %>
    </li>
    <li>
      <%= f.label :default_value %>
      <%= f.text_field :default_value %>
    </li>
    <li>
      <%= f.submit %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>