<%= form_for(@role, :html => {:class => "standard_form role_form", :multipart => true}) do |f| %>
<%= render 'shared/error_messages', :target => @role, :model => t('rolemodel.modelname') %>
  <ul>
    <li class="form_header">
      <h2><%= t('.manageroleinformation') %></h2>
    </li>
    <li>
      <%= f.label t('.rolename') %>
      <%= f.text_field :name %>
    </li>
    <li class="table_container">
    <% if @privileges %>
      <table>
        <%= render(partial: 'privilege_table', locals: {:privhash => @privileges}) %>
      </table>
    </li>
    <% end %>
    <li>
      <%= f.submit %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>
