<%= form_for([:admin, @default_role], :html => {:class => "standard_form role_form", :multipart => true}) do |f| %>
<%= render 'shared/error_messages', :target => @default_role, :model => t('defaultrolemodel.modelname') %>
  <ul>
    <li class="form_header">
      <h2><%= t('.defineadefaultrole') %></h2>
    </li>
    <li>
      <%= f.label t('common.name') %>
      <%= f.text_field t(:name) %>
    </li>
    <li class="table_container">
      <table>
        <%= render(partial: 'privilege_table', locals: {:privhash => @privileges}) %>
      </table>
    </li>
    <li>
      <%= f.submit %>
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>
