<% privhash.each do |category, privileges| %>
  <tr>
    <th class="category_cell">Category</th>
    <th class="privileges_cell">Privileges</th>
  </tr>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="category_cell"><%= Privilege::CATEGORIES[category][1] %></td>
    <td class="privileges_cell">
      <ul class="privilege_checkbox">
      <% privileges.each do |priv| %>
        <li>
        <%= check_box_tag 'default_role[privilege_ids][]', priv.id, @default_role.privileges.include?(priv), :class => "checkbox_group" %>
        <%= t(priv.name) %>
        </li>
      <% end %>
      </ul>
      <%= hidden_field_tag 'default_role[privilege_ids][]','' %>
    </td>
  </tr>
<% end %>
