<%= form_for(@grant) do |f| %>
  <% if @grant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grant.errors.count, "error") %> prohibited this grant from being saved:</h2>

      <ul>
      <% @grant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :privilege_id %><br />
    <%= f.number_field :privilege_id %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br />
    <%= f.number_field :role_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
