<% @page_title = t('.subscriptions') %>
<p id="notice"><%= notice %></p>
<% if @stats %>
<div class="standard_list revenue_summary">
  <table>
    <tr class="section_title">
      <td class="section_title"><h3><%= t('.revenuesummary') %></h3></td>
    </tr>
    <tr class="list_line_odd">
      <td><%= t('.lastmonth') %></td>
      <td><%= number_to_currency(@stats[:last_month]) %></td>
    </tr>
    <tr class="list_line_even">
      <td><%= t('.last30days') %></td>
      <td><%= number_to_currency(@stats[:last_30]) %></td>
    </tr>
    <tr class="list_line_odd">
      <td><%= t('.thismonth') %></td>
      <td><%= number_to_currency(@stats[:this_month]) %></td>
    </tr>
  </table>
</div>
<% end %>

<div class="standard_list subscriptions_list">
  <%= render 'subscription_list' %>
<%= will_paginate @subscriptions %>
</div>

