<% @page_title = t('.chargesubscription') %>
<%= form_tag({:action => 'charge'}, :class => "standard_form", :id => 'charge_form', :onsubmit => 'return checkForm()') do %>
<%= render 'shared/error_messages', :target => @subscription, :model => t('subscriptionmodel.modelname') %>
  <ul>
    <li class="form_header">
      <h2><%= t('.chargesubscription') %></h2>
    </li>
    <li>
      <p>
        <%= t('.usethisform') %>
      </p>
    </li>
    <li>
      <label>Amount</label>
      <input type="text" name="amount" id="amount" />
    </li>
    <li>
      <input type="submit" value="<%= t('.chargecard') %>" />
    </li>
    <li class="bottom"></li>
  </ul>
<% end %>

<div class="standard_list transaction_payment_list">
<table id="transactions">
  <tr class="section_title">
    <td class="section_title"><h3><%= t('.transactions') %></h3></td>
  </tr>
  <tr class="headers">
    <th class="column_header"><%= t('.date') %></th>
    <th class="column_header"><%= t('.amount') %></th>
    <th class="column_header"><%= t('.transactionid') %></th>
  </tr>
  <% @subscription.subscription_payments.each do |payment| %>
    <tr>
      <td><%= payment.created_at.to_s(:short_day) %></td>
      <td><%= number_to_currency(payment.amount) %></td>
      <td><%= payment.transaction_id %></td>
    </tr>
  <% end %>
</table>
</div>

<% content_for :head do -%>
  <script type="text/javascript" charset="utf-8">
    function checkForm() {
      amt = document.getElementById('amount')
      amt.value = amt.value.replace(/[\$,]/g, '')
      to_charge = parseInt(amt.value)
      if (isNaN(to_charge) || to_charge <= 0) {
        alert("<%= t('.pleaseenter') %>")
        return false
      }
      return confirm(<%= t('.areyousure') %>  + <%= t('number.currency.format.unit') %> + to_charge)
    }
  </script>
<% end -%>
