<tr>
  <td><%= text_field_tag("menu_item[child_menu_items_attributes][" + Time.new.to_i.to_s + "][name]") %></td>
  <td><%= text_field_tag("menu_item[child_menu_items_attributes][" + Time.new.to_i.to_s + "][help_text]") %></td>
  <td><%= text_field_tag("menu_item[child_menu_items_attributes][" + Time.new.to_i.to_s + "][controller]") %></td>
  <td><%= text_field_tag("menu_item[child_menu_items_attributes][" + Time.new.to_i.to_s + "][action]") %></td>
  <td><%= check_box_tag("menu_item[child_menu_items_attributes][" + Time.new.to_i.to_s + "][is_collection]") %></td>
</tr>
