<li>
  <%= f.hidden_field :id %>
  <%= f.hidden_field :account_id %>
  <%= f.hidden_field :setting_id %>
  <%= f.label t(Setting.find(f.object.setting_id).name) %>
  <%= f.text_field :value %>
  <%=  content_tag("p", t(Setting.find(f.object.setting_id).description), :class => "largeindent") %>
</li>
