<% @page_title = t('.viewchangebilling') %>
<%= render 'shared/error_messages', :target => @subscription, :model => t('accountsmodel.modelname') %>
<%= form_for(@creditcard, :as => :creditcard, :url => { :action => 'billing' }, :html => {:class => "standard_form wide_form"}) do |f| %>
<ul>
  <li class="form_header">
    <h2><%=t('.editbillinginformation') %></h2>
  </li>
    <% if @subscription.state == 'trial' %>
      <% if @subscription.next_renewal_at > Time.now %>
  <li>
        <p>
          <%=t('.thankyoufortrying') %><%= t('.trialwillexpirein') %><%= pluralize(@subscription.trial_days, 'day', 'days') %><%= t('.willhavenoaccess') %><%= @subscription.next_renewal_at.strftime '%m/%d/%Y' %>.
        </p>
      <% else %>
        <%=t('.thankyoufortrying') %><%= t('.trialhasexpired') %>
  </li>
      <% end %>
    <% end %>
  <li>
    <label for="plan_link"><%= t('.currentplan') %></label>
    <a href="/account/plan" class="inline_link"><%= @subscription.subscription_plan.name %></a><p class="inline">(<%=t('.clicktochange')%>)</p>
  </li>

  <% if @subscription.state == 'trial' %>
  <li>
    <label for="next_renewal">Trial expiration date:</label>
    <span id="next_renewal"><%= @subscription.next_renewal_at.strftime '%m/%d/%Y' %></span>
  </li>
  <% else %>
    <% if @subscription.amount > 0 %>
  <li>
      <label>Next charge date:</label>
      <%= @subscription.next_renewal_at.to_s(:long_day) %>
  </li>
  <li>
      <label>Next charge amount:</label>
      <%= number_to_currency @subscription.amount %>
  </li>
  <li>
      <label>Current payment method:</label>
      <%= @subscription.paypal? ? 'PayPal' : "#{@subscription.card_number} / #{@subscription.card_expiration}" %>
  </li>
    <% end %>
  <% end %>
  <li class="bottom"></li>
</ul>
<% if @subscription.amount > 0 %>
    <%= render :partial => 'shared/credit_card_form', :locals => {:signup => false } %>
  <ul>
    <li class="form_header">
      <h2><%= t('common.savechanges') %></h2>
    </li>
    <li>
      <%= submit_tag t('common.savechanges'), :class => "submit" %><%= t('.or') %><a href="/account" class="inline_link"><%= t('common.cancel') %></a>
    </li>
    <li class="bottom"></li>
  </ul>

<% end %>
<% end %>
