<% @page_title = t('.cancelaccount') %>
<%= render 'shared/error_messages', :target => @subscription, :model => t('accountsmodel.modelname') %>
<%= form_tag( {:action => 'cancel'}, {:class => "standard_form"}) do %>
<ul>
  <li class="form_header">
    <h2><%=t('.cancelaccount') %></h2>
  </li>
  <li>
    <p><%= raw t('.thiswilldeletedata') %></p>

    <h3>Wait!  Before you go...</h3>
    <p>
      <%= t('.perhapsswitchplan') %> 
    </p>
    <p>
      <a href="/account/plan">Change your subscription level now</a>
    </p>
  </li>
  <li>
    <input type="checkbox" name="confirm" class="checkbox" value="1" />
    I really do want to cancel my account and delete all my data.

  <%= submit_tag t('.deletemyaccount'), :class=> "submit" %><%= t('.or') %><a href="/account" class="inline_link"><%= t('common.cancel') %></a>
  </li>
  <li class="bottom"></li>
</ul>
<% end %>
