<% @page_title = t('.changeplan') %>
<%= render 'shared/error_messages', :target => @subscription, :model => t('accountsmodel.modelname') %>
<%= form_tag plan_account_url, :class => "standard_form" do %>
<ul>
  <li class="form_header">
    <h2><%=t('.chooseanewplan') %></h2>
  </li>
  <li>
    <p>
      <%= t('.nextrenewal') %><%= @subscription.next_renewal_at.strftime '%m/%d/%Y' %>.
    </p>
    <% if @subscription.needs_payment_info? -%>
      <p>
        Please make sure you <%= link_to('enter your billing information', billing_account_url) %> before your bill date to prevent an interruption in service.
      </p>
    <% end %>
    <p>
      You are currently subscribed to the <strong><%= @subscription.subscription_plan.name %> Plan</strong>.  Please select your desired plan and click the "Change my plan" button.
    </p>
  </li>
  <li>
    <%= label_tag "plan_id", t('.pricingplan') %>
    <select name="plan_id" onChange="enableButton()">
      <option value=""></option>
      <% @plans.each do |plan| %>
        <option value="<%= plan.id %>"<%= 'disabled="disabled"' unless current_account.qualifies_for?(plan) %>><%= plan %></option>
      <% end %>
    </select>
  </li>
  <li>
    <input name="commit" type="submit" id="commit" disabled="disabled" value="Change my plan" />
  </li>
  <li class="bottom"></li>
</ul>
<% end %>
  
<script type="text/javascript" charset="utf-8">
  function enableButton() {
    document.getElementById('commit').disabled = document.forms[0].elements['plan_id'].selectedIndex == 0
  }
  enableButton();
</script>

