<% @page_title = t('.manageaccountinformation') %>
<div class="standard_list">
  <table>
    <tr class="section_title">
      <td class="section_title">
        <h2>Welcome to Arts Helper!</h2>
        <h4><%= t('.chooseanoption') %></h4>
      </td>
    </tr>
    <tr class="list_line_odd">
      <td><%= link_to(t('.editaccountinformation'), edit_account_url) %></td>
    </tr>
    <tr class="list_line_even">
      <td><%= link_to(t('.changebillingplan'), plan_account_url) %></td>
    </tr>
    <tr class="list_line_odd">
      <td><%= link_to(t('.editpaymentinfo'), billing_account_url) %></td>
    </tr>
    <tr class="list_line_even">
      <td><%= link_to(t('.editaccountsettings'), accounts_settings_url) %></td>
    </tr>
    <tr class="list_line_odd">
      <td><%= link_to(t('.cancelplan'), cancel_account_url) %></td>
    </tr>
    <tr class="list_line_even">
      <td><%= link_to(t('.importdata'), csv_import_url) %></td>
    </tr>
  </table>
</div>
