<div id="banner_no_screenshot">
  <h1><%= t('.accountcreated') %></h1>
</div>
<div class="genericmessage">
  <p>
    Thank you for creating an account!  You can now log in to your account at <a href="http://<%= flash[:domain] %>.<%= Saas::Config.base_domain %>/">http://<%= flash[:domain] %>.<%= Saas::Config.base_domain %>/</a>.
  </p>
</div>
